<% provide(:title, 'NotificationPage') %>

<% if @notifications.length == 0 %>
  <p>通知はありません</p>
<% else %>
  <p>通知一覧</p>
  <% @notifications.each do |notification| %>
    <% if notification.action == "follow" %>
      <p><%= link_to "#{notification.sender.user_name}さん", user_path(id: notification.sender_id)%>
      にフォローされました</p>
    <% elsif notification.action == "favorite" %>
      <p><%= link_to "#{notification.sender.user_name}さん", user_path(id: notification.sender_id)%>が
      <%= link_to "写真ID:#{notification.photo_id}", photo_path(id: notification.photo_id) %>
      にLikeしました</p>
    <% elsif notification.action == "comment" %>
      <p><%= link_to "#{notification.sender.user_name}さん", user_path(id: notification.sender_id)%>が
      <%= link_to "写真ID:#{notification.photo_id}", photo_path(id: notification.photo_id) %>
      にコメントしました</p>
    <% end %>
  <% end %>
<% end %>