<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger" id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if user.id %>
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, id: :user_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :user_name %>
      <%= form.text_field :user_name, id: :user_user_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :web_site %>
      <%= form.text_field :web_site, id: :user_web_site, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_field :description, id: :user_description, class: "form-control" %>
    </div>
    <p>非公開情報</p>
    <div class="form-group">
      <%= form.label :email %>
      <%= form.text_field :email, id: :user_email, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :tel %>
      <%= form.text_field :tel, id: :user_tel, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :sex %>
      <%= form.text_field :sex, id: :user_sex, class: "form-control" %>
    </div>
  <% else %>
    <% if user.provider == "facebook" %>
      <div class="form-group">
        <%= form.label :user_name %>
        <%= form.text_field :user_name, id: :user_user_name, class: "form-control" %>
      </div>
      <%= form.hidden_field :name, values: user.name%>
      <%= form.hidden_field :email, values: user.email%>
      <%= form.hidden_field :password, values: user.password%>
      <%= form.hidden_field :image, values: user.image%>
      <%= form.hidden_field :provider, values: user.provider%>
      <%= form.hidden_field :uid, values: user.uid%>
    <% else %>
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, id: :user_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :user_name %>
        <%= form.text_field :user_name, id: :user_user_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label "#{:password} (6文字以上)" %>
        <%= form.password_field :password, id: :user_password, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, id: :user_password_confirmation, class: "form-control" %>
      </div>
    <% end %>
  <% end %>
  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>

