<% users.each do |user| %>
  <div class="d-flex py-3 my-3 border-top-0 border-right-0 border-left-0 border border-secondary">
    <p><strong>Image:</strong></p>
    <%= image_tag '/default_user_image/default_user_image.png', class: "rounded-circle" %>
    <div class="d-flex my-auto mx-3">
      <%= link_to "#{user.user_name}", user  %>
    </div>
  </div>
<% end %>