<% provide(:title, 'UserPage') %>

<h1>プロフィール編集ページ</h1>

<%= render 'form', user: @user %>

<% if @user.id %>
  <p>
    <%= link_to 'パスワード変更ページへ', edit_password_user_path %>
  </p>
<% end %>

<%= button_to 'アカウント削除', user_path, method: :delete, class: "btn btn-danger" %>
