<% provide(:title, 'UserPage') %>

<% if flash[:danger] %>
	<div class="alert alert-danger"><%= flash[:danger] %></div>
<% end %>

<%= form_with(model: @user, url: update_password_user_path, local: true) do |f| %>

	<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="form-group">
		<div class="field">
			<%= f.label :password %>
			<%= f.password_field :password, id: :user_password, class: "form-control" %>
		</div>
	</div>
	
	<div class="form-group">
		<div class="field">
			<%= f.label :new_password %>
			<%= f.password_field :new_password, id: :user_new_password, class: "form-control" %>
		</div>
	</div>
	
	<div class="form-group">
		<div class="field">
			<%= f.label :new_password_confirmation %>
			<%= f.password_field :new_password_confirmation, id: :user_new_password_confirmation, class: "form-control" %>
		</div>
	</div>
	
	
	<div class="action">
		<%= f.submit class: "btn btn-primary" %>
	</div>

<% end %>