<% provide(:title, 'UsersPage') %>

<p id="notice"><%= notice %></p>

<% if @search_users %>
  <h1 class="text-center">検索結果</h1>
  <% if @search_users.length == 0 %>
    <p class="text-center mb-5">検索結果はありませんでした。</p>
  <% else %>
    <div class="mb-5">
      <%= render 'users', users: @search_users %>
    </div>
  <% end %>
<% end %>

<div class="text-center">
  <h1>All Users</h1>
</div>

<%= render 'users', users: @users %>


