<% provide(:title, 'UserPage') %>

<%= flash[:danger] %>

<p id="notice"><%= notice %></p>

<div class="profile_top">
  <div class="profile_icon">
    <p><strong>Image:</strong></p>
      <%= image_tag '/default_user_image/default_user_image.png', class: "rounded-circle" %>
  </div>
  <div class="profile_content">
    <p><strong>user_name: </strong><%= @user.user_name %></p>
    <% if is_owner(@user.id) %>
      <p><%= link_to 'プロフィール編集ページ', edit_user_path(@user), class: "btn btn-light" %> </p>
    <% else %>
      <% if @is_followed_by_current_user %>
        <p>フォローしています</p>
        <%= button_to "フォロー解除",
          follows_path({follows: {user_id: current_user, followed_user_id: @user.id}}),
          method: :delete, class: "btn btn-light" %>
      <% else %>
        <%= button_to "フォローする", 
          follows_path({follows: {user_id: current_user, followed_user_id: @user.id}}),
          class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>

<p><strong>Description: </strong><%= @user.description %></p>

<div class="d-flex justify-content-around my-4 border border-secondary border-left-0 border-right-0 ">
  <p><strong>投稿写真数:</strong><%= @photos.size %></p>
  <p><strong>フォロワー:</strong><%= @follower_count %></p>
  <p><strong>フォロー中:</strong><%= @follow_count %></p>
</div>

<%= render 'photos/photos', photos: @photos, remote: true %>

<div id="photo-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

