<%= form_with(model: Comment.new, local:true) do |f| %>
  <%= f.label "Comment" %>
  <%= f.text_field :content %>
  <%= f.hidden_field :user_id, value: current_user%>
  <%= f.hidden_field :photo_id, value: photo.id%>
  <%= f.submit "コメントする" %>
<% end %>

<p>コメント一覧</p>
<% photo.comments.each do |comment| %>
  <p class="my-1"><%= "#{comment.user.user_name}さんのコメント : #{comment.content}"%></p>
<% end %>