<%= form_with(model: photo, local: true) do |form| %>
  <% if photo.errors.any? %>
    <div class="alert alert-danger" id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="field">
      <%= form.label "ファイルをアップロード" %>
      <%= form.file_field :content, value: photo.content, class: "form-control-file" %>
    </div>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: photo.user_id %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
