<% if photo.is_favorite_by(current_user) %>
  <%= button_to "Like #{photo.get_favorite_count}", favorites_path({favorites: {user_id: current_user, photo_id: photo.id}}),
    method: :delete, class: "btn btn-info my-3" %>
<% else %>
  <%= button_to "Like #{photo.get_favorite_count}", favorites_path({favorites: {user_id: current_user, photo_id: photo.id}}),
    class: "btn btn-outline-info my-3" %>
<% end %>