<% photos.each_slice(3) do |photo_group| %>
  <div class="photos my-4">
    <% photo_group.each do |photo| %>
      <div class="photo">
        <%= link_to image_tag(photo.content.url), photo_path(id: photo.id), remote: remote %>
      </div>
    <% end %>
    <% if photo_group.count % 3 == 1 %>
      <div class="photo"></div>
      <div class="photo"></div>
    <% elsif photo_group.count % 3 == 2 %>
      <div class="photo"></div>
    <% end %>
  </div>
<% end %>