<div class="modal-dialog">
  <div class="modal-content">
    <p id="notice"><%= notice %></p>
    
    <%= flash[:danger] %>
    
    <p><%= image_tag @photo.content.url %></p>
    
    <% if !is_owner(@photo.user_id) %>
      <%= render 'like', photo: @photo %>
    <% end %>
    
    <%= render 'comment', photo: @photo %>
   
  </div>
</div>