<% provide(:title, 'PhotoPage') %>

<p id="notice"><%= notice %></p>

<%= flash[:danger] %>

<p class="mb-1"><%= link_to "#{@photo.user.user_name}さん", user_path(id: @photo.user_id) %>の写真</p>
<p><%= image_tag @photo.content.url %></p>

<% if !is_owner(@photo.user_id) %>
  <%= render 'like', photo: @photo %>
<% end %>

<%= render 'comment', photo: @photo%>


