@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
  margin: 0;
}

p {
  margin-top: 16px;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

header {
  width: 100%;
  position: absolute;
  height: 50px;
  top: 0;
}

main {
  padding-top: 70px;
  padding-bottom: 50px;
}

footer {
  width: 100%;
  position: fixed;
  height: 50px;
  bottom: 0;
  background-color: skyblue;
  text-align: center;
}

.profile_top {
  display: flex;
  justify-content: center;
  position: relative;
  height: 150px;
}

.profile_icon {
  position: absolute;
  left: 0;
}


.photos {
  display: flex;
}

.photo {
  flex: 1;
  text-align: center;
  a {
    text-decoration: none;
  }
  a:hover {
    background-color: rgba(0, 0, 0, 0);
    color: black;
  }

  img {
    width: 100%;
  }
  
}




